<ion-header>

  <ion-navbar color="dark">
    <ion-title>Cálculo Rápido</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-card *ngFor="let item of fatores">
          <div *ngIf="filtraFator(item)">
            <ion-card-content>
              <ion-row text-center>
                <ion-col>
                  <p><strong>GA:</strong> {{ item.fator.fs }}</p>
                </ion-col>
                <ion-col>
                  <p><strong>FS:</strong> {{ item.fator.fd }}</p>
                </ion-col>
                <ion-col>
                  <p><strong>FC:</strong> {{ item.fator.fc }}</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-list>

  <ion-item>
    <ion-label>Calcular com</ion-label>
    <ion-select [(ngModel)]="tipoCalculo" (ionChange)="mudouSelect($event)" interface="popover">
      <ion-option value="G">Glicemia</ion-option>
      <ion-option value="C">Carboidrato</ion-option>
      <ion-option value="A">Ambos</ion-option>
    </ion-select>
  </ion-item>

  <ion-list>

    <ion-item>
      <ion-label floating><strong>Carboidratos</strong> consumidos (g)</ion-label>
      <ion-input disabled="{{ disabledC }}" type="number" [(ngModel)]=carboidratos></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Valor da sua <strong>Glicemia</strong> (mg/dl)</ion-label>
      <ion-input disabled="{{ disabledG }}" type="number" [(ngModel)]="glicemia"></ion-input>
    </ion-item>
  
  </ion-list>
  <ion-card>

      <ion-card-header style='text-align: center; font-size: 22px;'>
        {{ resultado }} UI
      </ion-card-header>
      <ion-card-content style='text-align: center; font-size: 13px;'>
        ({{ resultadoG }} + {{ resultadoC }})
      </ion-card-content>
    </ion-card>
  <button ion-button block (click)="calcular()">Calcular</button>

</ion-content>