<ion-header>

  <ion-navbar no-border-bottom color="dark">
    <ion-title>Comer</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingText="Puxe para atualizar"
          refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

  <ion-list>
    <ion-item>
      <ion-label floating>Valor da sua <strong>Glicemia</strong> (mg/dl)</ion-label>
      <ion-input type="number" [(ngModel)]="glicemia"></ion-input>
    </ion-item>
  </ion-list>
  
  <button ion-button full color="light" (click)="pesquisar()" icon-end>
      Pesquisar Alimentos
    <ion-icon name="search"></ion-icon>
  </button>

  <ion-list>
    <ion-item *ngFor="let item of alimentos">
      <div *ngIf="filtraMeusAlimentos(item)">
        <ion-row>
            <ion-col>
                <p style="color: #488aff">{{ item.alimento.quantidade }} {{ item.alimento.unidade }}</p><p style="color: #222"> de {{ item.alimento.nome }}</p>
            </ion-col>
            <ion-col text-right>
                <button ion-button icon-only color="danger" small (click)="removeAlimento(item)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-list>

</ion-content>