
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Refeições</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
      <ion-card *ngFor="let item of refeicoes">
        <div *ngIf="filtraRefeicao(item)">
          <ion-card-header>
            <h1>{{ item.refeicao.name }}</h1>
          </ion-card-header>
          <ion-card-content>
            <ion-row text-center>
              <ion-col>
                <p><strong>GA:</strong> {{ item.refeicao.fatorSub }}</p>
              </ion-col>
              <ion-col>
                <p><strong>FS:</strong> {{ item.refeicao.fatorDiv }}</p>
              </ion-col>
              <ion-col>
                <p><strong>FC:</strong> {{ item.refeicao.fatorCarb }}</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-row text-center>
            <ion-col>
              <button ion-button icon-left clear small color="danger" (click)="remover(item)">
                    <ion-icon name="trash"></ion-icon>
                    <div>Excluir</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small (click)="editRefeicao(item)">
                <ion-icon name="create"></ion-icon>
                <div>Editar</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small (click)="comer(item)" style="color: purple;">
                  <ion-icon name="pulse"></ion-icon>
                  <div>Comer</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small (click)="comer(item)" style="color: #045f20;">
                  <ion-icon name="water"></ion-icon>
                  <div>G. Pós</div>
              </button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>    
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab [style.background-color]="color" (click)="addRefeicao('Café')">
                <ion-icon name="cafe"></ion-icon>
                <div class="label">Café</div>
            </button>
     
            <button ion-fab [style.background-color]="color" (click)="addRefeicao('Almoço')">
              <ion-icon name="nutrition"></ion-icon>
              <div  class="label"dir="rtl">Almoço</div>
            </button>
     
            <button ion-fab [style.background-color]="color" (click)="addRefeicao('Jantar')">
              <ion-icon name="pizza"></ion-icon>
              <div  class="label"dir="rtl">Jantar</div>
            </button>
     
            <button ion-fab [style.background-color]="color" (click)="addRefeicao('')">Outro</button>
        </ion-fab-list>
      </ion-fab>
</ion-content>